body {
  margin: 0;
  padding: 0;
}

/* --------------------------------------
---------- Reusable items ---------------
-------------------------------------- */

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  letter-spacing: 0.0225em;
}

p {
  color: #444;
}

.btn {
  padding: 15px 40px;
  background: coral;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.btn:hover {
  background: orange;
}

.container {
  padding: 5px 15px;
}

.cell-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.container {
  padding: 15px 15px;
}

.orange {
  background: #f16521;
}

.yellow {
  background: yellow;
}

input {
  padding: 10px 15px;
}

button {
  padding: 10px 25px;
  border: 2px solid #f1c40f;
  background: #f1c40f;
  color: white;
}

/* --------------------------------------
---------- Header or Banner ---------------
-------------------------------------- */

.banner {
  background: #eee;
  border: 1px solid #ccc;
}

.banner .header {
  text-align: center;
  max-width: 600px;
  padding: 0px 15px;
}

.header h1 {
  font-weight: 900;
  margin: 0px;
}

.header p {
  margin: 30px 0px;
}


/* --------------------------------------
---------- Below-banner Info-block ---------------
-------------------------------------- */

.slogan-wrap {
  max-width: 1200px;
  padding: 40px 0px;
}

.slogan-message {
  padding: 0px 15px;
}

.slogan-message h1 {
  font-size: 2em;
  font-weight: 800;
  margin: 0;
}

.slogan-info {
  padding: 0px 15px;
}

/* --------------------------------------
---------- Call to Action Block ---------------
-------------------------------------- */

.cta {
    width: 100%;
    color: white;
    padding: 15px 0px;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.donate-input {
  margin: 0px 40px;
}

.donate-input input, button {
  font-size: 1em;
}


/* --------------------------------------
 --------------------------------------
---------- MEDIA QUERIES ---------------
 --------------------------------------
-------------------------------------- */

/* Bigger than 550 */
@media (min-width: 360px) {
  .banner {
    height: 100vh;
    width: 100%;
  }

  .banner .header h1 {
    font-size: 2em;
  }

  .slogan-wrap {
    display: flex;
    justify-content: flex-start;
  }

  .cta-header {
    text-align: center;
  }

  .donate-input {
    display: flex;
    justify-content: center;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  /* Banner */

  .banner {
    height: 500px;
    width: 100%;
  }

  .banner .header h1 {
    font-size: 3em;
  }

  /* Below banner slogan */

  .slogan-message {
    padding: 0px 15px;
    flex-basis: 30%;
  }

  .slogan-info {
    padding: 0px 15px;
    flex-basis: 60%;
  }

  /* Call to Action */
  .cta-header {
    text-align: left;
  }

}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .banner {
    height: 500px;
  }

  .slogan-message {
    padding: 0px 15px;
  }

  .slogan-info {
    padding: 0px 15px;
  }
}
